<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://kit.fontawesome.com/1c97a9b182.js" crossorigin="anonymous"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="../../public/css/commentForm.css" />
    <link rel="stylesheet" href="../../public/css/navbar.css" />
    <title>Add Comment</title>
  </head>
  <body>
       <!-- navbar -->

    <!-- check if user is login -->
    <%if(authUser){%> <%-include('../partials/privateNav.ejs')%> <%}else{%>
      <%-include('../partials/navbar.ejs')%> <% }%>
      <!-- end navbar -->
    <!-- login page -->
    <div class="form-container">
    <h3>You are add comment to...</h3>
    <form action="#" method="post" class="login">
      <div class="login-form-input">
        <textarea name="comment" id="" cols="30" rows="10" placeholder="Leave a comment"></textarea>
      </div>
      <div class="login-form-input">
        <button>Add Comment</button>
      </div>
    </div>
  </body>
</html>
